button {
    background-color: rgba(216, 214, 208, 0.658);
    padding: 10px 15px
}
a {
    text-decoration: none;
    color:black
}
body {
    background-color: #7d95b9;
}

.box1 {
    background-color: rgba(216, 214, 208, 0.658);
    color: rgb(46, 43, 43); 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    
}

.box1 h1 {
    text-align: center;

}


.container {
    width: 80%;
    margin:auto
}